.a {
  color: green;
};

/* comment */
@import 'asd';
@media print {
  .a {
    color: blue;  /* comment */
  }
  /* end of rule */
};

.a {
  color: green;
}

.test {
    background: url(data:image/png;base64,...);
    color: blue;
}
